page-login {
    .te{
      background-color:#999999
    }
    .button{
      padding:10px 30px 10px 30px;
      margin:10px;
    }
    .logo{
      width: auto;
      margin-bottom: 20px;
    }
    .center{
      margin-left: auto !important;
      margin-right: auto !important;
    }
    .small-button{
      font-size: 1000px;
    }
    .input-block{
      margin-bottom: 20px;
      padding-left: 20px;
      padding-right: 20px;
    }
    .back-gray{
      background-color: #DDDDDD;
    }
}
