page-login {
    .logo{
      width: auto;
      margin-bottom: 20px;
    }
    .center{
      margin-left: auto !important;
      margin-right: auto !important;
    }
    .input-block{
      margin-bottom: 20px;
      padding-left: 20px;
      padding-right: 20px;
    }
    .back-gray{
      background-color: #DDDDDD;
    }
}
