page-login {
    .te{
      background-color:#999999
    }
    .button{
      padding:10px 30px 10px 30px;
      margin:10px;
    }
    .logo{
      width: auto;
    }
    .center{
      margin-left: auto !important;
      margin-right: auto !important;
    }
    .small-button{
      font-size: 1000px;
    }
}
