<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>成員</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list>
    <ion-list-header>
      召組
    </ion-list-header>
    <a ion-item (click)="openModal({charNum: 0})">
      艾奎華
    </a>
    <a ion-item (click)="openModal({charNum: 1})">
      Frodo Baggins
    </a>
    <a ion-item (click)="openModal({charNum: 2})">
      Sam
    </a>
  </ion-list>

  <ion-list  *ngFor = "let t of team  let i = index">
    <ion-list-header>
      {{t.num}}
    </ion-list-header>
    <ion-item *ngFor = "let p of team[i].people let j = index" >
      {{p.name}}
    </ion-item>
  </ion-list>


</ion-content>
