page-edit-data {
  .rightAlign{
    text-align: right;
  }
  ion-input{
    float:right; /* shift to right for alignment*/
    width:80% /* set a width, you can use max-width to limit this as well*/
}
}
